.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding-top: 60px; 
  box-sizing: border-box;
}


.Body {
  color: #1b5e20;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  animation: fadeInUp 1.2s ease-out both;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Body span{
   position: relative;
    display: inline-block;
    transition:0.3s ease-out;
    z-index: 1;
    padding: 0px 4px;
    color: #429348;
}

.Body span:hover {
    transform: translateY(-9px);
    color: #1b5e20;
}